body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
}

form {
    background: greenyellow;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

textarea {
    height: 120px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#error {
    color: red;
    margin-top: 10px;
    text-align: center;
}